.floating_box {
  position: fixed;
  _position: absolute;
  z-index: 10;
}

a.floating_box:hover, a.floating_box:active, a.floating_box:focus{
   background: none;
}

.upper_left_box {
  top: 0px;
  left: 0px;
  _top:expression(eval(document.body.scrollTop));
}

.lower_left_box {
  bottom: 0px;
  left: 0px;
  _top: expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
}

.upper_right_box {
  top: 0px;
  right: 0px;
  _top:expression(eval(document.body.scrollTop));
}

.lower_right_box {
  bottom: 0px;
  right: 0px;
  _top: expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
}

.middle_right_box {
  right: 0px;
  top: 40%;
}

.middle_left_box {
  left: 0px;
  top: 40%;
}